<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.cogsurv.droid"
	android:versionCode="1"
	android:versionName="1.0"
>
	<application
		android:name="CogSurvDroid"
		android:icon="@drawable/icon"
		android:label="Cognitive Surveyor"
		android:debuggable="true"
	>
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
		>
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".LoginActivity"
			android:launchMode="singleInstance" />
		<activity
			android:name=".LandmarkVisitSelect"
			android:launchMode="singleInstance" />
		<activity
			android:name=".LandmarkVisitEstimates"
			android:launchMode="singleInstance" 
			android:configChanges="orientation" />
		<activity
		  android:name=".AddLandmarkActivity"
		  android:launchMode="singleInstance" />
		<activity
		  android:name=".PreferenceActivity"
		  android:launchMode="singleInstance" />
		<service
			android:name=".app.TravelLogService" />
		<provider
			android:name="org.cogsurv.cogsurver.content.CogSurverProvider"
			android:authorities="org.cogsurv.cogsurver" />
	</application>
	<uses-sdk
		android:minSdkVersion="3" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
	></uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
	></uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
	></uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
	></uses-permission>
</manifest> 